body{
  height: 0;
  margin: 0;
}

.layout{
width: 100%;
height: 100vh;
}

.hader{
  background-color: #97e6f7;
  color: blue;
  }
.menu{
  background-color: #fcff4d;
  padding:0;
  padding-right: 20px;
  width: 100px;
  height: 100%;
}
.footer{
  background-color: #97e6f7;
  color: blue;
  padding: 10px;
}
.photo{
  float: left;
  padding-right: 20px;
}
a{
  color: blue;
  }
.content{
  padding-left: 20px;
  text-align:left
}
.logo{
  text-align: center;
}