.icon__button {
  background: transparent;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: var(--transition) background;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon__button:hover {
  background: var(--color-black-47);
}
