body{
  margin: 0;
}
.layout{
width: 100%;
height: 300px;
}
.hat{
background-color:#97e6f7;
color:blue;
text-align: center;
}

.menu{
  width: 10%;
  background-color:  #fcff4d;
  padding-right:20px;
  
 }

.basement{
  background-color:#97e6f7;
  color: blue;
  text-align: center; 
  padding: 10px;
}
.hader{
  text-align: center;
}

.football{
  float: left;
}
.regulations{
  clear: none;
}

.gh{
  background: url('../img/Slice\ 1.png')repeat-y right ;
}