
img {
  position: absolute;
}

img:hover {
  z-index: 1;
}
.biohazard {
  margin-left: 500px;
}

.Man-and-woman {
  margin-left: 450px;
  margin-top: 200px;
}

.No_smoking {
  margin-left: 550px;
  margin-top: 100px;
}

.Yin_and_Yang {
  margin-left: 670px;
  margin-top: 200px;
}
.second {
margin-top: 100vh;
}

@media(min-width: 1440px){
 picture{
  margin-right: 1em;
 }
}