* {
  box-sizing: border-box;
}
body {
  height: 0;
  margin: 0;
}
.layout {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.header {
  background-color: #97e6f7;
  color: blue;
  text-align: center;
  padding: 3px;
}

.sidebar {
  background-color: #fcff4d;
  padding-right: 47px;
  width: 200px;
  max-width: 200px;
}

.wrapper {
  flex: 1 1 auto;
}
.content {
  display: flex;

  min-height: 100vh;
}

.footer {
  flex-wrap: wrap;
  background-color: #97e6f7;
  text-align: center;
  color: blue;
  padding: 10px;
}

.main {
  padding: 20px;
  width: 85%;
}

.football {
  float: left;
  padding: 0px;
  margin-right: 20px;
}
.text {
  clear: none;
}

.logo {
  text-align: center;
}

a {
  color: blue;
}
.club {
  position: fixed;
  background-color: limegreen;
  border: solid 1px green;
  padding: 5px 20px;
  text-align: center;
  top:10% ;
  right: 9%;
  
}

@media (max-width: 576px) {
  .content {
    flex-wrap: wrap;
  }
}

@media (max-width: 320px) {
  .sidebar {
    flex-wrap: wrap;
    width: 100wh;
    min-width: 100vh;
    
  }
}

